*:focus{
  outline: none;  
}

body {
  font-family: Arial,sans-serif;
  background: white;
}

.main_container {
  position: relative;
  z-index: 1;
  background: rgb(242, 231, 241);
  max-width: 360px;
  height: 600px;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.main_container #logo {
  margin: auto;
  width: 80%;
}

.login_form {
  margin-top: 10%;
}

.login_form .textfield {
  margin-top: 3%;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #ddd;
  height: 50px;
  width: 300px;
  padding-left: 15px;
}

.login_form .textfield:focus {
  border: 2px solid #f5b7f0;
  border-radius: 0px;
}

.login_form .button_group {
  margin-top: 10%;
}

.button_group input{
  border-radius: 6px;
  border:none;
  background-color: rgb(94, 94, 94);
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100px;
  height: 40px;
  margin: auto 5% auto 5%;
  padding: 0px;
}

.button_group input:hover, #not_agree:hover{
  background-color: rgb(165, 162, 162);
}

.terms_contents{  
  width: 90%;
  height: 380px;
  background: white;
  margin: 3% auto 5% auto;
}

#not_agree{
  background: rgb(224, 224, 224);
  color: rgb(64, 64, 64);
}