*:focus{
  outline: none;  
}

body {
  font-family: Arial,sans-serif;
  background: white;
}

.main_container {
  position: relative;
  z-index: 1;
  background: rgb(242, 231, 241);
  max-width: 360px;
  height: 600px;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.main_container img {
  margin-top: 30%;
}

.login_form {
  margin-top: 10%;
}

.login_form input {
  margin-top: 3%;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #ddd;
  height: 50px;
  width: 300px;
  padding-left: 15px;
}

.login_form input:focus {
  border: 2px solid #f5b7f0;
  border-radius: 0px;
}

.login_form .button_group {
  margin-top: 10%;
}

.login_form .button_group button{
  border-radius: 6px;
  border:none;
  background-color: rgb(94, 94, 94);
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100px;
  height: 40px;
  margin: auto 5% auto 5%; 
}

.login_form .button_group button:hover{
  background-color: rgb(165, 162, 162);
}