<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/myheart.css">
    <title>myheart</title>
</head>
<body>
    <div class="maching-page">
        <div class="form">
            <form class="menu-form">
                <a href="mypage.html"><img id="myInfo" src="C:\Users\User\Desktop\7Talk-UI\icons/004-user.png" alt="my_info_icon">
                </a>
                <a href="main.html"><img id="heart" src="C:\Users\User\Desktop\7Talk-UI\icons/003-heart-1.png" alt="maching_icon">
                </a>
                <a href="/"><img id="post" src="C:\Users\User\Desktop\7Talk-UI\icons/001-post-it.png" alt="post_icon">
                </a>

            </form>
           
        
            <form class="myheart-form">
                
                <a href="/"><img id="s_myheart" src="C:\Users\User\Desktop\7Talk-UI\icons/002-big-heart.png" alt="myheart_icon">
                </a>
                <p class="message-remainHeart">남은 하트 : 100개</p>
                <button><a href="/">충전하기</a></button>
            </form>
            <table style="width:100%">
                    <tr>
                      <th>No.</th>
                      <th>결재 금액</th> 
                      <th>날짜</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td></td>
                      <td></td>
                    
                    </tr>
                  </table>
        </div>
    </div>
    
</body>
</html>